# Visual Studio / .NET
.vs/
bin/
obj/
*.user
*.suo

# React / Node
node_modules/
build/
dist/

# JetBrains
.idea/

# Logs
*.log

# OS
Thumbs.db
.DS_Store

# Local development settings
appsettings.Development.json